
/*mystyles*/

body {
	background-color: #b3b3b3;
}
.container {
	background-color: #b3b3b3;
}
.toplinks11 {
	padding: 2% 2% 1% 2%;
	width: 40%;
}

.aboutussection {
	background-color: #9cb0d4;
	color: #222222;
	margin-right: 1.5%;
	margin-left: 1.5%;
	box-shadow: 10px 10px 15px #524f4f;
}

.othersection {
	background-color: #9cb0d4;
	margin-left: 1.5%;
	margin-right: 1.5%;
	box-shadow: 10px 10px 15px #524f4f;
}

.padthis {
	padding: 1.5% 4% 1% 4%;
	margin-top: 1rem;
}

.imgsection {
	background-color: #9cb0d4;
	margin-top: 7%;
	box-shadow: 10px 10px 15px #524f4f;
}
